
<div *ngIf="disease">
    <h2><span jhiTranslate="bytaApp.disease.detail.title">Disease</span> {{disease.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bytaApp.disease.name">Name</span></dt>
        <dd>
            <span>{{disease.name}}</span>
        </dd>
        <dt><span jhiTranslate="bytaApp.disease.symptom">Symptom</span></dt>
        <dd>
            <span *ngFor="let symptom of disease.symptoms; let last = last">
                <a [routerLink]="['/symptom-my-suffix', symptom?.id ]">{{symptom.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'disease-my-suffix/'+ disease.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
