<div>
    <h2>
        <span jhiTranslate="bytaApp.medicine.home.title">Medicines</span>
        <button class="btn btn-primary float-right create-medicine-my-suffix" [routerLink]="['/', { outlets: { popup: ['medicine-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bytaApp.medicine.home.createLabel">
            Create new Medicine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="medicines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bytaApp.medicine.name">Name</span></th>
            <th><span jhiTranslate="bytaApp.medicine.dose">Dose</span></th>
            <th><span jhiTranslate="bytaApp.medicine.treatmentProcedure">Treatment Procedure</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medicine of medicines ;trackBy: trackId">
                <td><a [routerLink]="['../medicine-my-suffix', medicine.id ]">{{medicine.id}}</a></td>
                <td>{{medicine.name}}</td>
                <td>{{medicine.dose}}</td>
                <td>
                    <div *ngIf="medicine.treatmentProcedure">
                        <a [routerLink]="['../treatment-procedure-my-suffix', medicine.treatmentProcedure?.id ]" >{{medicine.treatmentProcedure?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../medicine-my-suffix', medicine.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medicine-my-suffix/'+ medicine.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medicine-my-suffix/'+ medicine.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
